.container {
    margin-bottom: 24px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.heading {
    margin-top: -76px;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
}

.box {
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 4px 4px #bbbbff;
    transform: scale(0.875) rotate(-10deg);
}

.imageBox {
    @extend .box;

    height: 256px;
    width: 256px;

    img {
        position: absolute;
        top: 0;
        border-radius: 16px;
    }
}

.contentBox {
    @extend .box;

    height: 512px;
    width: 512px;
    padding: 32px;
    color: #8888bb;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alt {
    margin-top: -90px;
    flex-direction: row;

    .heading {
        margin-top: 272px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .heading {
        margin-top: 264px;
    }

    .box {
        transform: scale(0.8) rotate(-5deg);
    }

    .contentBox {
        max-width: 100%;
        margin-top: -12px;
    }

    .alt {
        margin-top: -24px;

        .heading {
            margin-top: -72px;
        }

        .contentBox {
            margin-top: -56px;
            margin-bottom: -70px;
        }
    }
}
