.container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -92px;
    margin-bottom: 24px;
    color: #8888bb;
}

.alt {
    flex-direction: row-reverse;
    margin-top: 0;

    .heading {
        margin-top: -80px;
    }
}

.heading {
    margin-top: 272px;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
}

.box {
    border-radius: 16px;
    transform: scale(0.875) rotate(-10deg);
    background-color: #ffffff;
    box-shadow: 4px 4px #bbbbff;
}

.imageBox {
    @extend .box;

    height: 256px;
    width: 256px;

    img {
        position: absolute;
        top: 0;
        border-radius: 16px;
    }
}

.contentBox {
    @extend .box;

    height: 512px;
    width: 512px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        margin-top: -64px;
    }

    .heading {
        margin-top: 264px;
    }

    .box {
        transform: scale(0.8) rotate(-5deg);
    }

    .contentBox {
        max-width: 100%;
        margin-top: -8px;
    }

    .alt {
        flex-direction: column;
        margin-top: -24px;

        .heading {
            margin-top: -72px;
        }

        .contentBox {
            margin-top: -48px;
        }
    }
}
